.nav {
  width: 100%;
  height: 5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 3px solid black;
  background-color: white;
}
.navlinks {
  width: 24%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.red-n {
  color: #ff0000;
}
.direct {
  font-size: 21px;
  margin: 0%;
  text-decoration: none;
  color: #4b4b4b;
}

.direct:hover {
  color: #ff0b0b;
  text-decoration: none;
}
.logo {
  width: 49%;
  height: 100%;
}
.lego {
  width: 9%;
  height: 97%;
  margin-left: 7.5%;
  margin-top: 0.5%;
}

#menuToggle {
  display: block;
  position: relative;
  top: 2px;
  left: -3px;

  z-index: 1;

  -webkit-user-select: none;
  user-select: none;
  display: none;
}

#menuToggle a {
  text-decoration: none;
  color: #232323;

  transition: color 0.3s ease;
}

#menuToggle a:hover {
  color: tomato;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0;
  z-index: 2;

  -webkit-touch-callout: none;
}

#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background: #cdcdcd;
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

#menu {
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;

  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;

  transform-origin: 0% 0%;
  transform: translate(-100%, 0);

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menu li {
  padding: 10px 0;
  font-size: 22px;
}

#menuToggle input:checked ~ ul {
  transform: none;
}
@media screen and (min-width: 320px) {
  .nav {
    display: none;
    width: 100%;
    height: 6vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 3px solid black;
    background-color: white;
  }
  .navlinks {
    width: 36%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    display: none;
  }
  .red-n {
    color: #ff0000;
  }
  .direct {
    font-size: 21px;
    margin: 0%;
    text-decoration: none;
    color: #4b4b4b;
  }

  .direct:hover {
    color: #ff0b0b;
    text-decoration: none;
  }
  .logo {
    width: 49%;
    height: 100%;
  }
  .lego {
    width: 32%;
    height: 97%;
    margin-left: 7.5%;
    margin-top: 0.5%;
  }
  #menuToggle {
    display: block;
    position: relative;
    top: 2px;
    left: -3px;

    z-index: 1;

    -webkit-user-select: none;
    user-select: none;
    display: block;
  }

  #menuToggle a {
    text-decoration: none;
    color: #232323;

    transition: color 0.3s ease;
  }

  #menuToggle a:hover {
    color: tomato;
  }

  #menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;

    cursor: pointer;

    opacity: 0;
    z-index: 2;

    -webkit-touch-callout: none;
  }

  #menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    background: #cdcdcd;
    border-radius: 3px;

    z-index: 1;

    transform-origin: 4px 0px;

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
      background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  }

  #menuToggle span:first-child {
    transform-origin: 0% 0%;
  }

  #menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }

  #menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
  }

  #menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }

  #menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
  }

  #menu {
    position: absolute;
    width: 148px;

    margin: -28px 0px 0 -157px;
    padding: 27px;
    padding-top: 23px;
    background: #ededed;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(200%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    background: white;
    border-radius: 8px;
  }

  #menu li {
    padding: 10px 0;
    font-size: 22px;
  }

  #menuToggle input:checked ~ ul {
    transform: none;
  }
}
@media (min-width: 375px) {
  .nav {
    display: none;
    width: 100%;
    height: 6vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 3px solid black;
    background-color: white;
  }
  .navlinks {
    width: 36%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    display: none;
  }
  .red-n {
    color: #ff0000;
  }
  .direct {
    font-size: 21px;
    margin: 0%;
    text-decoration: none;
    color: #4b4b4b;
  }

  .direct:hover {
    color: #ff0b0b;
    text-decoration: none;
  }
  .logo {
    width: 49%;
    height: 100%;
  }
  .lego {
    width: 32%;
    height: 97%;
    margin-left: 7.5%;
    margin-top: 0.5%;
  }
  #menuToggle {
    display: block;
    position: relative;
    top: 2px;
    left: -3px;

    z-index: 1;

    -webkit-user-select: none;
    user-select: none;
    display: block;
  }

  #menuToggle a {
    text-decoration: none;
    color: #232323;

    transition: color 0.3s ease;
  }

  #menuToggle a:hover {
    color: tomato;
  }

  #menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;

    cursor: pointer;

    opacity: 0;
    z-index: 2;

    -webkit-touch-callout: none;
  }

  #menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    background: #cdcdcd;
    border-radius: 3px;

    z-index: 1;

    transform-origin: 4px 0px;

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
      background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  }

  #menuToggle span:first-child {
    transform-origin: 0% 0%;
  }

  #menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }

  #menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
  }

  #menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }

  #menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
  }

  #menu {
    position: absolute;
    width: 148px;

    margin: -28px 0px 0 -157px;
    padding: 27px;
    padding-top: 23px;
    background: #ededed;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(200%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    background: white;
    border-radius: 8px;
  }

  #menu li {
    padding: 10px 0;
    font-size: 22px;
  }

  #menuToggle input:checked ~ ul {
    transform: none;
  }
}
@media (min-width: 414px) {
  .nav {
    display: none;
    width: 100%;
    height: 6vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 3px solid black;
    background-color: white;
  }
  .navlinks {
    width: 36%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    display: none;
  }
  .red-n {
    color: #ff0000;
  }
  .direct {
    font-size: 21px;
    margin: 0%;
    text-decoration: none;
    color: #4b4b4b;
  }

  .direct:hover {
    color: #ff0b0b;
    text-decoration: none;
  }
  .logo {
    width: 49%;
    height: 100%;
  }
  .lego {
    width: 32%;
    height: 97%;
    margin-left: 7.5%;
    margin-top: 0.5%;
  }
  #menuToggle {
    display: block;
    position: relative;
    top: 2px;
    left: -3px;

    z-index: 1;

    -webkit-user-select: none;
    user-select: none;
    display: block;
  }

  #menuToggle a {
    text-decoration: none;
    color: #232323;

    transition: color 0.3s ease;
  }

  #menuToggle a:hover {
    color: tomato;
  }

  #menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;

    cursor: pointer;

    opacity: 0;
    z-index: 2;

    -webkit-touch-callout: none;
  }

  #menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    background: #cdcdcd;
    border-radius: 3px;

    z-index: 1;

    transform-origin: 4px 0px;

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
      background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  }

  #menuToggle span:first-child {
    transform-origin: 0% 0%;
  }

  #menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }

  #menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
  }

  #menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }

  #menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
  }

  #menu {
    position: absolute;
    width: 148px;

    margin: -28px 0px 0 -157px;
    padding: 27px;
    padding-top: 23px;
    background: #ededed;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(200%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    background: white;
    border-radius: 8px;
  }

  #menu li {
    padding: 10px 0;
    font-size: 22px;
  }

  #menuToggle input:checked ~ ul {
    transform: none;
  }
}
@media (min-width: 768px) {
  .nav {
    display: none;
    width: 100%;
    height: 6vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 3px solid black;
    background-color: white;
  }
  .navlinks {
    width: 36%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    display: none;
  }
  .red-n {
    color: #ff0000;
  }
  .direct {
    font-size: 21px;
    margin: 0%;
    text-decoration: none;
    color: #4b4b4b;
  }

  .direct:hover {
    color: #ff0b0b;
    text-decoration: none;
  }
  .logo {
    width: 49%;
    height: 100%;
  }
  .lego {
    width: 25%;
    height: 97%;
    margin-left: 7.5%;
    margin-top: 0.5%;
  }
  #menuToggle {
    display: block;
    position: relative;
    top: 2px;
    left: -3px;

    z-index: 1;

    -webkit-user-select: none;
    user-select: none;
    display: block;
  }

  #menuToggle a {
    text-decoration: none;
    color: #232323;

    transition: color 0.3s ease;
  }

  #menuToggle a:hover {
    color: tomato;
  }

  #menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;

    cursor: pointer;

    opacity: 0;
    z-index: 2;

    -webkit-touch-callout: none;
  }

  #menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    background: #cdcdcd;
    border-radius: 3px;

    z-index: 1;

    transform-origin: 4px 0px;

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
      background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  }

  #menuToggle span:first-child {
    transform-origin: 0% 0%;
  }

  #menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }

  #menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
  }

  #menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }

  #menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
  }

  #menu {
    position: absolute;
    width: 148px;

    margin: -28px 0px 0 -157px;
    padding: 27px;
    padding-top: 23px;
    background: #ededed;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(200%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    background: white;
    border-radius: 8px;
  }

  #menu li {
    padding: 10px 0;
    font-size: 22px;
  }

  #menuToggle input:checked ~ ul {
    transform: none;
  }
}
@media (min-width: 1024px) {
  .nav {
    display: none;
    width: 100%;
    height: 6vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 3px solid black;
    background-color: white;
  }
  .navlinks {
    width: 51%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    display: inline block;
  }
  .red-n {
    color: #ff0000;
  }
  .direct {
    padding: 0%;
    font-size: 30px;

    margin: 0%;
    text-decoration: none;
    color: #4b4b4b;
  }

  .direct:hover {
    color: #ff0b0b;
    text-decoration: none;
  }
  .logo {
    width: 49%;
    height: 100%;
  }
  .lego {
    width: 26%;
    height: 97%;
    margin-left: 7.5%;
    margin-top: 0.5%;
  }
  #menuToggle {
    display: block;
    position: relative;
    top: 2px;
    left: -3px;

    z-index: 1;

    -webkit-user-select: none;
    user-select: none;
    display: none;
  }

  #menuToggle a {
    text-decoration: none;
    color: #232323;

    transition: color 0.3s ease;
  }

  #menuToggle a:hover {
    color: tomato;
  }

  #menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;

    cursor: pointer;

    opacity: 0;
    z-index: 2;

    -webkit-touch-callout: none;
  }

  #menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    background: #cdcdcd;
    border-radius: 3px;

    z-index: 1;

    transform-origin: 4px 0px;

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
      background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  }

  #menuToggle span:first-child {
    transform-origin: 0% 0%;
  }

  #menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }

  #menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
  }

  #menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }

  #menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
  }

  #menu {
    position: absolute;
    width: 148px;

    margin: -28px 0px 0 -157px;
    padding: 27px;
    padding-top: 23px;
    background: #ededed;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(200%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    background: white;
    border-radius: 8px;
  }

  #menu li {
    padding: 10px 0;
    font-size: 22px;
  }

  #menuToggle input:checked ~ ul {
    transform: none;
  }
}
@media (min-width: 1024px) {
  .nav {
    display: none;
    width: 100%;
    height: 6vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 3px solid black;
    background-color: white;
  }
  .navlinks {
    width: 51%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    display: inline block;
  }
  .red-n {
    color: #ff0000;
  }
  .direct {
    padding: 0%;
    font-size: 30px;

    margin: 0%;
    text-decoration: none;
    color: #4b4b4b;
  }

  .direct:hover {
    color: #ff0b0b;
    text-decoration: none;
  }
  .logo {
    width: 49%;
    height: 100%;
  }
  .lego {
    width: 26%;
    height: 97%;
    margin-left: 7.5%;
    margin-top: 0.5%;
  }
  #menuToggle {
    display: block;
    position: relative;
    top: 2px;
    left: -3px;

    z-index: 1;

    -webkit-user-select: none;
    user-select: none;
    display: none;
  }

  #menuToggle a {
    text-decoration: none;
    color: #232323;

    transition: color 0.3s ease;
  }

  #menuToggle a:hover {
    color: tomato;
  }

  #menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;

    cursor: pointer;

    opacity: 0;
    z-index: 2;

    -webkit-touch-callout: none;
  }

  #menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    background: #cdcdcd;
    border-radius: 3px;

    z-index: 1;

    transform-origin: 4px 0px;

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
      background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  }

  #menuToggle span:first-child {
    transform-origin: 0% 0%;
  }

  #menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }

  #menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
  }

  #menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }

  #menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
  }

  #menu {
    position: absolute;
    width: 148px;

    margin: -28px 0px 0 -157px;
    padding: 27px;
    padding-top: 23px;
    background: #ededed;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(200%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    background: white;
    border-radius: 8px;
  }

  #menu li {
    padding: 10px 0;
    font-size: 22px;
  }

  #menuToggle input:checked ~ ul {
    transform: none;
  }
}
@media (min-width: 1280px) {
  .nav {
    display: none;
    width: 100%;
    height: 6vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 3px solid black;
    background-color: white;
  }
  .navlinks {
    width: 34%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .red-n {
    color: #ff0000;
  }
  .direct {
    padding: 0%;
    font-size: 24px;

    margin: 0%;
    text-decoration: none;
    color: #4b4b4b;
  }

  .direct:hover {
    color: #ff0b0b;
    text-decoration: none;
  }
  .logo {
    width: 49%;
    height: 100%;
  }
  .lego {
    width: 11%;
    height: 97%;
    margin-left: 7.5%;
    margin-top: 0.5%;
  }
  #menuToggle {
    display: block;
    position: relative;
    top: 2px;
    left: -3px;

    z-index: 1;

    -webkit-user-select: none;
    user-select: none;
    display: none;
  }

  #menuToggle a {
    text-decoration: none;
    color: #232323;

    transition: color 0.3s ease;
  }

  #menuToggle a:hover {
    color: tomato;
  }

  #menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;

    cursor: pointer;

    opacity: 0;
    z-index: 2;

    -webkit-touch-callout: none;
  }

  #menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    background: #cdcdcd;
    border-radius: 3px;

    z-index: 1;

    transform-origin: 4px 0px;

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
      background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  }

  #menuToggle span:first-child {
    transform-origin: 0% 0%;
  }

  #menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }

  #menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
  }

  #menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }

  #menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
  }

  #menu {
    position: absolute;
    width: 148px;

    margin: -28px 0px 0 -157px;
    padding: 27px;
    padding-top: 23px;
    background: #ededed;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(200%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    background: white;
    border-radius: 8px;
  }

  #menu li {
    padding: 10px 0;
    font-size: 22px;
  }

  #menuToggle input:checked ~ ul {
    transform: none;
  }
}
